[2021-04-08 13:19] curquiza opened #1 "Add playground and more tests"
- [ ] Add a playground in the `/playground` folder. This playground is a Rails application (with views) to check manually the plugin works
- [ ] for each failure you find out with the playground, you must create an automated test

[2021-04-08 13:21] curquiza opened #2 "Add a CONTRIBUTING"
Add a contributing file, following this template:
https://github.com/meilisearch/integration-guides/blob/main/templates/CONTRIBUTING.md

The development workflow part should be filled according to this repo, of course ☺️

[2021-04-08 13:23] curquiza opened #3 "Add CI with tests for each PR"
Add a CI (as GitHub Actions) that runs the test for each PR.

[2021-04-08 13:25] curquiza opened #4 "Add bors"

[2021-04-12 16:16] curquiza commented on #4
Needs #3

[2021-04-13 11:50] #3 closed

[2021-04-13 12:31] curquiza opened #7 "Add rubocop"
Add rubocop (linter):
- in the Gemfile (dev group)
- in the CI
- how to launch it in the CONTRIBUTING

[2021-04-13 15:29] #4 closed

[2021-04-20 10:05] CaroFG opened #12 "Upgrade to latest meilisearch-ruby version"

[2021-04-20 10:07] CaroFG commented on #12
- [ ]  Remove bang methods from meilisearch-rails.rb (lines 21 to 36)

[2021-04-20 10:08] CaroFG opened #13 "Files naming"
There are still some references to Algolia

[2021-04-21 10:14] #2 closed

[2021-04-22 13:30] curquiza opened #14 "Add automatic push to rubygems"
In a GH action
Can be inspired of https://github.com/meilisearch/meilisearch-ruby/blob/main/.github/workflows/gempush.yml

[2021-04-22 13:31] curquiza opened #15 "Add release drafter"
Should be done after the first release of this repo

[2021-04-22 14:12] #1 closed

[2021-05-04 13:27] CaroFG opened #17 "Add more tests"

[2021-05-04 13:55] #13 closed

[2021-05-10 12:17] curquiza opened #18 "Remove useless code"
Remove useless code from Algolia
ex: all about replica, tag...

Should be done once all the tests are added. See #17

[2021-05-10 12:22] curquiza opened #19 "Add complete README"
Should contain:
- [ ] Compatibility with MeiliSeach section
- [ ] Documentation
- [ ] Header as in the other integration repos

In more general, use the same template as https://github.com/meilisearch/meilisearch-laravel-scout

[2021-05-10 12:23] curquiza opened #20 "Use sync (with !) meilisearch-ruby method"
https://github.com/meilisearch/meilisearch-ruby/releases

At least v0.15.1

[2021-05-24 13:16] curquiza commented on #20
duplication of #12

[2021-05-24 13:16] #20 closed

[2021-05-26 15:51] curquiza opened #26 "The CI should run with different version of Rails"

[2021-05-27 11:41] curquiza opened #28 "Options `primary_key` vs `id`"
From my POV these two options seem to do the same: inform MeiliSearch about the unique identifier.
If they indeed to the same, we should remove one to keep only the other one.

[2021-05-27 11:42] #17 closed

[2021-06-07 14:55] #18 closed

[2021-06-07 15:09] CaroFG commented on #28
In the integration_spec file `id:` is used on class Cat and class Dog (lines 220, 226, 233 and 239). Everywhere else we use primary_key. One or the other should be changed if we decide to keep just one identifier.

[2021-06-09 12:50] curquiza opened #34 "Use the modern syntax for symbols in Hashes"
In the code and in the README, we use the old ruby syntax

[code]

We should use instead:

[code]

Tell me if I'm wrong and if it's not possible @CaroFG!

[2021-06-09 13:51] #14 closed

[2021-06-09 16:21] #19 closed

[2021-06-09 18:47] #15 closed

[2021-06-10 11:22] #26 closed

[2021-06-10 11:41] curquiza commented on #28
Checked with @CaroFG.
Both options are available (`:id` and `:primary_key`). Only `primary_key` is documented. If both options are set, `primary_key` is prioratized.

[2021-06-10 11:41] #28 closed

[2021-06-10 14:56] #34 closed

[2021-06-13 06:29] molfar opened #40 "Default configuration"
As convention over configuration, I think this gem should have meilisearch_host default value "http://127.0.0.1:7700"
This eliminate the need to manually create initializer file only to define meilisearch_host option.

[2021-06-13 07:22] molfar opened #41 "hitsPerPage param does not work"
Following the docs I try to limit number of results

`products = Product.search params[:query], hitsPerPage: 9`

But I got and error

`MeiliSearch::ApiError (400 Bad Request - Invalid JSON: unknown field hitsPerPage, expected one of q, offset, limit, attributesToRetrieve, attributesToCrop cropLength, attributesToHighlight, filters, matches, facetFilters, facetsDistribution at line 1 column 29. See

[2021-06-14 10:29] CaroFG commented on #41
Hi! This error should not appear when using the [`:pagination_backend` option](https://github.com/meilisearch/meilisearch-rails#backend-pagination-) on your configuration file, as the `hitsPerPage` option it's supposed to be used when using pagination. Have you set the `:pagination_backen` option and are still getting this error? Anyway, thanks for spotting this, we should update our README to mak

[2021-06-14 10:40] CaroFG opened #42 "Improve pagination documentation"
- [ ] Specify it's important to add the page to the search query. Example: `Book.search('', page: (params['page'] || 1))`
- [ ] Specify that hitsPerPage only works when using the `pagination_backend` option

[2021-06-14 10:42] CaroFG commented on #41
I just opened this issue to improve pagination documentation: #42

[2021-06-14 10:59] molfar commented on #41
I dont use any pagination, just need to limit results. And yeh, the documentation is not clear enough about it. By the way, there is another excellent pagination gem called [Pagy](https://github.com/ddnexus/pagy) which gradually displaces both both will_paginate and kaminary. As for me, Pagy is my favourite one.

[2021-06-14 11:04] curquiza opened #43 "Make this gem work with Pagy"
https://github.com/ddnexus/pagy/

[2021-06-14 11:07] curquiza commented on #41
see #43

[2021-06-14 11:11] CaroFG opened #44 "Transform camelcase names for params into snake case"
Parmeters such as `hitsPerPage`should be tranformed into camel case => `hits_per_page` to respect Rails convention

[2021-06-14 11:13] CaroFG commented on #41
Opened new issue for case convention :) #44

[2021-06-14 11:13] CaroFG commented on #41
Closing this one as #42 should solve the confusion

[2021-06-14 11:13] #41 closed

[2021-06-14 15:05] bb commented on #43
https://gitter.im/ruby-pagy/Lobby?at=60c339f5747a772d99ea20ed

[2021-06-14 16:30] curquiza commented on #43
Thanks for this information @bb!!

[2021-06-15 18:31] molfar commented on #43
I've started working on integration with Pagy https://github.com/ddnexus/pagy/pull/313

[2021-06-17 08:07] CaroFG opened #45 "Add getting started to the README's table of content"
A getting started = a quick way to use the gem using the basics options.

[2021-06-19 15:15] molfar commented on #43
Just finished working on integration with Pagy gem https://github.com/ddnexus/pagy/pull/316 New feature is available to under dev branch.

[2021-06-19 18:53] bb commented on #43
@ddnexus released it in pagy version 4.9 https://github.com/ddnexus/pagy/blob/master/CHANGELOG.md

Thanks @molfar and @ddnexus! 😃

[2021-06-20 16:59] curquiza commented on #43
Awesome! All the Meili team thanks you @molfar and @ddnexus!! 😄
Have you a twitter account @molfar and @ddnexus? We would like to highlight your work with the MeiliSearch twitter account, if you agree with this of course!

[2021-06-20 16:59] curquiza commented on #43
(I close this issue, but feel free to answer my question here)

[2021-06-20 16:59] #43 closed

[2021-06-20 23:28] ddnexus commented on #43
@curquiza I have no twitter account, however you are welcome to post about it.

Also... your README should add pagy to the note about supported pagination now.

[2021-06-24 18:01] curquiza opened #52 "Make tests run with default config"
Make the tests run with this config by default

[code]

without passing it as env variables.

The users should still be able to pass other configs if wanted.

[2021-06-24 18:02] curquiza commented on #44
Closed by #49

[2021-06-24 18:02] #44 closed

[2021-07-29 07:38] nykma opened #60 "Error when enabling paging with Ruby3 / kaminari"
**Description**
After enabling pagination using `{pagination_backend: :kaminari}` , any search will throw an error.

**Expected behavior**
`MyModel.search()` should work

**Current behavior**

[code]

**Environment:**
- OS: Linux
- MeiliSearch version: 0.20.0
- meilisearch-rails version: 0.2.1
- Rails version: 6.1.4

[2021-07-29 07:45] nykma commented on #60
Oh, I kinda got it.
In Ruby3, Hash worked as named parameter should be parsed like `**options`
Maybe some changes should be made in
https://github.com/meilisearch/meilisearch-rails/blob/main/lib/meilisearch/pagination/kaminari.rb#L12
 for a compatability of ruby3

[2021-08-24 20:20] curquiza commented on #60
Thanks for the bug report and the investigation 🙂

[2021-08-24 20:32] #60 closed

[2021-08-24 23:25] krisquigley opened #65 "Ability to change the index uid during run time?"
Is there a way of changing the `index_uid` during runtime?

I'm creating a SaaS app and want to have one index per user:

[code]

This works fine in test and development environments, however in production the `index_uid` is never re-evaluated and breaks the implementation.  Is there a way around this, or should I be taking a different approach?

[2021-08-25 15:35] CaroFG commented on #65
Hi! I may have misunderstood your question, if so please excuse me. As stated in the [dedicated section of the documentation](https://docs.meilisearch.com/learn/core_concepts/indexes.html#index-uid), the index uid is set at index creation time. Once a uid has been defined for an index, you cannot create another index with the same uid and the identifier cannot be changed anymore.

[2021-08-25 16:33] krisquigley commented on #65
Hi @CaroFG, thanks for getting back to me.

Does that mean that I cannot create a unique index for each user of my app on the same model?

If so, I would probably need to index the `account_id` and then add a filter to `Story.search` to filter by the `account_id` for that user.  If I take this approach, is there a way of providing a default filter for the model so that it always filters by the `ac

[2021-09-06 08:31] krisquigley commented on #65
Thanks for the heads up and explanation @CaroFG!  I'll keep on eye on the discussions.

[2021-09-06 08:31] #65 closed

[2021-09-23 15:51] curquiza commented on #45
Seems to be done, feel free to re open if I'm wrong @CaroFG

[2021-09-23 15:51] #45 closed

[2021-10-01 17:48] brunoocasali commented on #7
@curquiza I've started this locally and I had some concerns about this:

- Do Meilisearch team have a set of rubocop constraints (overrides) to be used already or I'm free to suggest mine?
- After the first execution without any overrides I got: `73 files inspected, 823 offenses detected, 684 offenses auto-correctable` probably we will not refactor the entire gem in one big bang PR right? I could

[2021-10-02 14:06] curquiza commented on #7
Hello @brunoocasali! Thank for starting this huge work!

Nope, not at the moment

Yes, do multiple PRs is a good way to handle this issue 🙂

[2021-10-06 18:04] brunoocasali commented on #7
@curquiza I'll try to generate the PR's separately in two ways:

- by directory
- by kind of change

Because if I merge both of the operations at the same PR, probably maintainers will have a bad time finding something relevant, a meaningful change or a problematic one for example.

[2021-10-12 11:42] curquiza opened #77 "Remove linter errors (in `.rubocop_todo.yml `)"
In `.rubocop_todo.yml ` we currently have some remain offenses, we need to remove them :)

[2021-10-12 11:43] #7 closed

[2021-10-16 16:17] #52 closed

[2021-10-21 08:13] curquiza commented on #77
Hello @AudTheCodeWitch

Thanks for your interest in this project :)

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://gi

[2021-10-30 08:18] reginaalyssa commented on #77
Hi @curquiza I'm interested to work on this. Hope I can get some advice on a failing spec while running on local for `spec/configuration_spec.rb`. Below is what I ran:

1. Ran `./meilisearch` in one terminal
2. While checked out on the `main` branch of `meilisearch-rails`, I ran `bundle exec rspec spec/configuration_spec.rb`
3. I got the errors shown below:

![image](https://user-images.githubuser

[2021-10-30 17:32] curquiza commented on #77
Hello @reginaalyssa
Did you run the required commands you can find [in the CONTRIBUTING.md](https://github.com/meilisearch/meilisearch-rails/blob/main/CONTRIBUTING.md#tests-) before running the spec?

[2021-11-02 15:13] brunoocasali commented on #77
@curquiza I was sending many PR's but I didn’t mention what I want with them, the current approach is to:

- Fix small problems like double quote strings and others (Code/Style ## PR's)
- Fix most of the auto-correctable offenses (or all) (Code/Style ## PR's)
- Replace should with expect inside specs and offenses without changes on what the tests do.
- Start decomposing the big methods inside of t

[2021-11-02 18:44] curquiza commented on #77
Hello @brunoocasali
thanks for these suggestions! 😄

We should create separated issues for what you suggest (the 3rd last points) since it's not related to this issue "Remove linter errors". Feel free to open them to detail what you plan to do a little bit 🙂
One issue per idea is ok.

[2021-11-02 20:02] brunoocasali opened #85 "Add simplecov gem"
Add `simplecov` gem to track code coverage.

[2021-11-02 20:18] brunoocasali commented on #77
Yes! I'll provide the issues ASAP :)

[2021-11-03 08:29] curquiza commented on #77
Thanks a lot

[2021-12-21 13:05] jitingcn opened #93 "upgrade rspec 3"
**Description**
I got an error when I ran `rake` after `bundle install`, After some searching ([sof](https://stackoverflow.com/questions/35893584/nomethoderror-undefined-method-last-comment-after-upgrading-to-rake-11)), the issue is that rake 11.0 removed the `last_comment` method, which was used by rspec-core (< 3.4.4)

Possible solutions include restricting rake version
[code]
or upgrading the r

[2021-12-21 13:17] jitingcn opened #95 "Add meilisearch backend version check"
**Description**
When I encountered a problem with meilisearch not being able to create model index after upgrading gems yesterday, after an hour of troubleshooting I found that this was caused by an incompatible version of meilisearch. I thought it would be a good idea to add a version check in the rails initializer.

**Basic example**
Some other libraries I have used have similar functionality, f

[2022-01-07 13:43] brunoocasali opened #97 "Remove tests who calls private methods directly"
Inside this file `spec/integration_spec.rb` we saw some specs testing methods by using `.send` they should be replaced.

Some references about why this practice should be avoided:
https://anthonysciamanna.com/2016/02/14/should-private-methods-be-tested.html#unit-tests-should-only-test-public-methods

[2022-01-07 14:04] brunoocasali opened #98 "Possible sanitization change leads to a unexpected behavior on integration_spec"
**Description**
[According to @jitingcn](https://github.com/meilisearch/meilisearch-rails/pull/94/files#r773160574) we are facing an issue regarding a possible change in the rails sanitizer.

- We need to dig into that to understand better why this changed and if it affects any other part of the integration.

- We could use this time to refactor that particular spec in order to explicitly tell the

[2022-01-07 14:23] brunoocasali commented on #95
Hey @jitingcn, thanks for raising this concern with us!

I really think that could be an awesome addition to the integration not only in the rails one but all the others!

@curquiza let me know if I'm wrong, but we do not have this kind of check inside our integrations right?

This is especially useful in this particular moment because the engine v1 was not released yet and most of the time our in

[2022-01-10 12:46] #85 closed

[2022-01-10 16:18] #93 closed

[2022-01-23 08:27] bueti opened #101 "superclass mismatch for class Task"
**Description**
I'm trying to add meilisearch to an existing Rails app. I've followed your [blog post](https://blog.meilisearch.com/how-to-integrate-an-extremely-fast-and-relevant-search-into-your-rails-app-using-meilisearch-and-react/) but after installing an enabling meilisearch-rails I get the following error:
[code]

**Expected behavior**
No superclass mismatch :)

**Current behavior**
[code]

[2022-01-24 12:54] brunoocasali commented on #101
Hello @bueti how are you?!

Could you share with me the content of your entire model `app/models/task.rb`?

[2022-01-24 12:58] bueti commented on #101
@brunoocasali is there a way to share this with you privately? it's pretty big model and it's not opensource.

if there's something specific you are looking for I might be able to share that part.

[2022-01-24 16:40] brunoocasali commented on #101
Yes, you could share with but before doing that...

I'm trying to understand what caused this behavior, so I'll ask you to try the old version of meilisearch, could you do that for me [meilisearch-rails release v0.3.0](https://github.com/meilisearch/meilisearch-rails/releases/tag/v0.3.0)?

I have an educated guess about this problem: We unintentionally introduced this behavior after the addition o

[2022-01-24 17:15] bueti commented on #101
@brunoocasali I think you guess is correct. Downgrading to v0.3.0 and v0.24.0 solved the issue.

[2022-01-24 18:31] brunoocasali commented on #101
Cool, thanks @bueti I'll be working on a fix for this problem ASAP.

[2022-01-24 20:20] brunoocasali commented on #101
Just to add for future researchers:

This happens not only for the `Task` class but for `Client` ([and all the other classes defined here](https://github.com/meilisearch/meilisearch-ruby/tree/main/lib/meilisearch)) as well, and probably this should happen even in versions before the `meilisearch-ruby 0.17`.

[2022-01-24 20:23] brunoocasali commented on #101
I couldn’t reproduce exactly your issue @bueti but I have some related problems in a brand new rails 6.1 project:

[code]

[code]
[code]

Either way, I'm still working in a fix for it 😅

[2022-01-25 06:40] bueti commented on #101
works like a charm! 👍

[2022-01-25 17:40] brunoocasali commented on #101
@bueti [we released the new version](https://github.com/meilisearch/meilisearch-rails/releases/tag/v0.4.1) with this fix, please check them out!

[2022-01-25 19:21] bueti commented on #101
works, thanks for the quick fix!

[2022-01-28 06:01] swaathi opened #107 "Unable to install the gem in any Rails app"
**Description**
I added `gem 'meilisearch-rails'` to by Gemfile and did a bundle install. I then go to rails console and just type in,

[code]

I tried this on,

1. Rails 5.2.3 / Ruby 2.6.3
2. Rails 7.1.0.alpha / Ruby 2.7.3 (This is a completely new Rails app with no dependencies other than core Rails.)

Tried it even on basic IRB shell. Same error.

**Expected behavior**
The gem should load!

**C

[2022-01-28 18:00] brunoocasali commented on #107
Hello @swaathi, first of all, I'm so sorry about this, this shouldn’t have happened.

The real problem is because you are reading **the new in-repository** documentation, we are about to release a new version which contains a `breaking-change` and unfortunately, it took me more time than expected 😅.

Anyway, to overcome this problem you can follow this documentation: https://github.com/meilisearch

[2022-01-28 18:12] brunoocasali opened #110 "Add tests to ensure rails app will load Meilisearch correctly"
We should have a way to automate testing the `potentially breaking` new versions.

One idea to do that is to use the `playground` rails application in this app to load Meilisearch and make some basic operations in order to guarantee the minimum operational status as possible, since we do not have type checking yet.

[2022-01-29 03:28] heertheeswaran commented on #107
@brunoocasali Yeah figured it out. Thanks for the support.

[2022-02-01 19:26] #107 closed

[2022-02-01 19:26] #110 closed

[2022-02-01 19:51] brunoocasali commented on #107
@swaathi and @heertheeswaran I'm finishing the release notes of the new version v0.5.0 and the main and the latest release should be compatible now. So I'm closing this issue, any other problems feel free to open an issue!

Thanks for using Meilisearch! ❤️

[2022-02-01 22:23] cjilbert504 opened #112 "Add sortable attributes option"
**Description**
In keeping with the common theme of the other MeiliSearch libraries, it would be nice to also have the sortableAttributes option within this library as well.

**Basic example**
[code]

**Other**
Any other things you want to add.

[2022-02-02 11:39] simonhutchings opened #114 "Something happened with versions I think"
Was using connected to Dockerized version of Meilisearch using follwing config

[code]

which translates to this

`{:meilisearch_host=>"http://localhost:7700", :meilisearch_api_key=>"thisIsAMasterKey", :pagination_backend=>:kaminari, :timeout=>2, :max_retries=>1}`

That was working and fine, and can still access the Mini dashboard with those credentials

But from yesterday afternoon, I started get

[2022-02-02 17:37] brunoocasali commented on #114
Hey @simonhutchings thanks for reaching out!

I have a little trouble with the last release and it took me more time than I was expecting, but now should be fine.

I released a new version `v0.5.0` which is the last one, could you please update your gem and try again?
Maybe this issue that interest you #107 is related to what you're dealing with.

Let me know if this helps you in some way.

And th

[2022-02-03 21:43] brunoocasali opened #115 "Allow tests randomization"
Our test suite should be able to run in a randomized environment, this will help us to improve the confidence in our tests and of course, it will help a lot in the maintenance of the test suite.

This is a good first issue, and we could take small steps along the way in order to enable the randomization, for example:

Locally enable rspec randomization:

[code]

- Then try locally to run x times o

[2022-02-03 23:01] #112 closed

[2022-02-03 23:07] simonhutchings commented on #114
Great works in dev, but there isn’t a gem for that version yet, and every time I containerise it, it fails on run.

Any idea when you might push the gem version rather than having to compile from git?

Hutch

[2022-02-04 02:53] cjilbert504 opened #117 "Update documentation to show that sortable_attributes option is available"
Since adding sortable_attributes as a option, the documentation should reflect this along with an example use case.

[2022-02-04 17:48] #117 closed

[2022-02-04 23:42] brunoocasali commented on #114
Actually, I don’t know if totally followed your idea, but I already pushed the new version https://github.com/meilisearch/meilisearch-rails/releases/tag/v0.5.0

By the way, this v0.5.0 **only works** with Meilisearch server version **0.25.0** or greater :)

[2022-02-07 17:52] cjilbert504 opened #120 "[Question] - Getting occasional Net::ReadTimeout with #<TCPSocket:(closed) errors"
I am looking for any guidance around improving how we are querying on a model and its association. As it stands we occasionally see the error listed in the title and see a 500 error when it occurs. We believe that the reason for the timeout is the large amount of associated model attribute records that are indexed and being returned. For reference here is how the parent model is setup:
[code]
  As

[2022-02-07 18:45] brunoocasali commented on #120
@cjilbert504 this timeout happens only during the indexing? Or does it happen during the search query as well?

[2022-02-07 18:50] cjilbert504 commented on #120
@brunoocasali - Only during the search query.

[2022-02-07 19:52] brunoocasali commented on #120
Can you please share your stack trace with me? (this could help me to understand the slowness path of your search request).

Since we aim to respond to users below the 50ms (https://docs.meilisearch.com/learn/what_is_meilisearch/philosophy.html#simple-and-intuitive) we should definitely understand who are causing the slowdown on your request if it is related to the size of the body, the search eng

[2022-02-07 20:35] excid3 commented on #120
@brunoocasali This was happening in production, but also if we ran `ms_search` in the Rails console.

We're thinking it's because some of the ForumThreads we have indexed have 200-300 posts and we are indexing those as an array of strings on the ForumThread. All the other queries seem to be fine generally except those with massive results.

On the Ruby side, the stacktrace is pretty simple:

[code

[2022-02-07 21:35] grsahil20 commented on #114
Here is my journey

- Step 1
[code]
Result : Too old version

- Step 2
[code]
Result : Fail

- Step 3
[code]
  Success 👍

[2022-02-07 22:50] brunoocasali commented on #114
@grsahil20 thanks for sharing! I understand what happened, the last version 0.5.0 never made it to the rubygems, my bad 😞

After the breaking change, the file path changed accordingly, and I didn't check if the version was released or the release script.

Tomorrow the internal team will approve the PR #122 and I'll release it again :)
I let you and @simonhutchings informed.

[2022-02-08 10:35] brunoocasali commented on #114
@grsahil20 and @simonhutchings can you try now? https://rubygems.org/gems/meilisearch-rails/versions/0.5.0

[2022-02-08 11:59] simonhutchings commented on #114
0.5.0 just bundled from rubygems!

[2022-02-08 12:50] brunoocasali commented on #114
Awesome @simonhutchings!

I'll close this since I assume the problem was the missing gem in the RubyGems. Feel free to reopen that if you think this is another mistake.

I'm sorry for the problematic release, hope this doesn't happen in the future.

Thanks, everyone for using Meilisearch ❤️

[2022-02-08 12:50] #114 closed

[2022-02-13 11:57] jitingcn opened #124 "LoadError (cannot load such file -- meilisearch/ms_job)"
**Screenshots or Logs**
[code]

[2022-02-13 12:06] jitingcn commented on #95
I think we could encode a compatible version range in the library file and then try to connect to the /version endpoint of meilisearch to check version compatibility when rails is initialised.

[2022-02-13 12:18] jitingcn opened #126 "Clarify pagy pagination usage in documents"
I noticed in the readme it mentions that the backend pagination backend now supports pagy.
But when I try this configuration it gave me an error.
[code]
After further investigation, the pagy backend pagination is provided by the pagy library and is different from other backend pagination setups. I think this needs to be clarified in the documentation.

[2022-02-14 12:52] brunoocasali commented on #126
@jitingcn thanks for your issue!

Can you share the error with me? Btw, I don't have a lot of free time to dig into this, if you have any clue about how to solve this, we could work together 👯

Thanks for contributing with Meilisearch 🤘

[2022-02-14 13:09] jitingcn commented on #126
Error message is like:
[code]

I haven't tried using pagy's meilisearch integration, but the documentation for it is here: https://ddnexus.github.io/pagy/extras/meilisearch

[2022-02-14 18:32] jitingcn commented on #124
On my app, the meilisearch-rails jobs failed to load causing fail to update the meilisearch data when models were saved, and none of the other subsequent life cycle callback was being run, such as the `after_update_commit` needed for the `turbo stream` not running, causing the page to not be updated, which made my users notice the problem and report to me.

Another thing is this issue caused me to

[2022-02-14 18:40] #124 closed

[2022-02-14 18:43] brunoocasali commented on #124
Shame on me, @jitingcn I made a lot of problems after this breaking-change :/

Most of the issues I had was because the code was not so good on coverage, but the idea is to improve this day-by-day. I'm sorry about this @jitingcn and thanks again for your time!

[2022-02-14 18:51] brunoocasali commented on #124
Released https://rubygems.org/gems/meilisearch-rails/versions/0.5.1

[2022-02-14 18:52] jitingcn commented on #124
Thanks. The next thing we can do is to add more tests for the jobs :)

[2022-02-16 12:36] brunoocasali commented on #120
Hello everyone, I wasn't able to check this yet, but I promise I will! (I just haven't the time to dig into this we are upgrading the integrations to v0.26 😅). I'll come back to this soon!

[2022-02-17 22:17] nimashariatian opened #130 "Add each_with_hit and map_with_hits methods?"
**Description**
Hi folks, thank you so much for this wonderful gem!
I think it would be pretty useful to add some handy collection methods to the result.

**Basic example**
Some examples for pseudocode :

[code]

Would love to hear your thoughts!

[2022-02-18 11:06] Svashta opened #131 "Search within custom index (with pagy)"
I am reading through the docs and it nicely describes how to create a custom index. So, now i have an index of all items and additional conditional index - in the same model.

I cannot not figure out how to limit my search (with or without pagy) to specific index.
Can some please explain how that is done, preferably with pagy.

Thx

[2022-02-18 11:18] Svashta commented on #131
Ahh, to answer my own question and for anyone needing it;
Bot MeiliSearch .search and Pagy .pagy_search take index: parameter to define the scope.

[2022-02-21 18:33] brunoocasali commented on #130
Hello, @nimashariatian thanks for your issue!

I would like to understand better your use cases to check if this could be a great addition to all the users!
We have some methods like `ms_raw_search` and `ms_raw_answer` that provide the entire answer, but we also have the `ms_search` and `search` which already answer with an array of AR objects.

Btw, I encourage you to make the changes with tests

[2022-02-22 01:32] kofiasare opened #132 "Search for a term on multiple models/Indexes"
**Description**
I have just migrated our application from searchkick to meilisearch however meilisearch doesn't have a way I can search for single term across multiple indexes or models like searchkick does.

**Basic example**
I want to to be able to search my term on at least one model

example:

[code]

[2022-02-23 13:47] coder2000 commented on #132
I have the same issue, there is an endpoint of the API where you can search a specific index, so you can add your data to a common shared index, but it isn't exposed by the library.

[2022-02-24 15:43] coder2000 opened #133 "N+1 queries on results"
I have results being returned that reference other models and would like to reduce the number of N+1 queries being executed. Usually I would do `Model.includes(:reference)` but this doesn't work with meilisearch.

[2022-02-25 19:49] brunoocasali commented on #133
Hello @coder2000 thanks for using Meilisearch!

I'll need more information regarding how you are using `meilisearch-rails`, this will help me to understand your point, but I have some thoughts:

[code]

And in the controller:

[code]

I get this log:
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/4116980/155785355-a0622599-d92a-4a43-a9cc-f866022434aa.png">

But if I c

[2022-02-25 23:06] coder2000 commented on #133
I understand that, I have
[code]
but the following is the log
[code]

[2022-02-25 23:41] kofiasare commented on #132
@coder2000 I don't want a commonly shared index. I want each model to have its own.

Anyways below is my workaround. Using parallel gem, I initiate parallel requests to the meilisearch endpoint
and await the result for both.

[code]

[2022-02-28 20:51] brunoocasali commented on #133
Ok, so I dig into the pagy gem and I found some that could help you:

In order to setup the pagination you should call the `pagy_search` or `pagy_meilisearch` method right? Like this:

[code]

But if you send your "includes" thing before the `pagy_search` call you will lose it, because in the pagy core method the "MeilisearchExtra" has this `self`.
[code]

Since the `self` in this context is still

[2022-02-28 21:01] brunoocasali commented on #132
If I understood right @kofiasare what you want is not supported out of the box by Meilisearch (yet) 😢
But this is planned to be done soon: https://roadmap.meilisearch.com/c/74-multi-index-search (you can vote if you want).

I saw your workaround, glad that worked for you!
Let me know if you need anything else.

Thanks for using Meilisearch 🤘

[2022-02-28 21:04] brunoocasali commented on #131
Hey, @Svashta I'm glad you could make it!

If you want I invite you to contribute, with a PR adding better explanations about this in the docs?

[2022-03-01 19:17] kofiasare commented on #132
@brunoocasali you are spot on. Closing issue then

[2022-03-01 19:17] #132 closed

[2022-03-09 14:17] brunoocasali commented on #133
Based on this https://github.com/ddnexus/pagy/issues/378#issuecomment-1062630694 message, I tried and saw that it works for the reported case:

[code]

[code]

[2022-03-09 14:17] #133 closed

[2022-03-10 01:55] coder2000 commented on #133
Yeah, it isn't an issue with meilisearch because if I don't use pagy the in N+1 queries don't happen if I use `includes`. Thanks for the help.

[2022-03-10 22:20] schappim commented on #120
I can confirm I'm seeing this on reindexing ~28K records.

[2022-03-13 08:54] rodrigoodhin opened #134 "Custom Attributes does not returns on search"
HI All,

I've try to use custom attributes on my model, but when a search, this field is not returned. The custom field is ok on meilisearch UI.

My Product Model

[code]

Searching on rails console:
[code]

The fields photo, humanized_price brand, are not returning as expected.

I'm doing something wrong or it's a bug?

[2022-03-15 20:13] brunoocasali commented on #120
By the way, @cjilbert504 the meilisearch instance is located in the same region of your app? Do you know how long it takes (on average) for meilisearch to answer your search requests?

[2022-03-15 20:15] brunoocasali commented on #120
@schappim about your situation, indexing is indeed something we need to enhance in our core. Still, I'm almost sure that this is not related to Meilisearch Rails directly unless you have some N+1 in your indexing process.
Can you share more information with me about that?

[2022-03-16 13:44] brunoocasali commented on #134
Hi @rodrigoodhin, thanks for using Meilisearch!

Your configuration seems to be ok to me, but I think you misunderstood the idea of these attributes, they are meant to be sent to the Meilisearch server during indexing and they became available to be searched/filtered and stuff.

But since we respond with an ActiveRecord object (in your case), we just don't have access to your custom attribute.

Ex

[2022-03-16 14:53] rodrigoodhin commented on #134
Hi @brunoocasali ,

You are right.
By doing what you did, you solved my problem.
Thank you very much for your answer.

[2022-03-16 14:53] #134 closed

[2022-03-20 11:30] jmarsh24 commented on #126
The documents also reference adding ```ActiveRecord_Relation.include Pagy::Meilisearch``` to Model

[2022-03-21 16:28] brunoocasali opened #135 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-03-31 22:55] jmarsh24 opened #136 "Sidekiq has depreciated workers in favor of job"
The readme references using a worker instead of a job. This should be updated to prevent confusion.

[2022-04-01 23:35] Antsiscool opened #138 "Total hits incorrect when using pagination backend"
**Description**
When using a pagination backend, the total hits is capped at 200. I tried this with will_paginate, but it should also happen with kaminari.

When a pagination backend is set, the limit parameter is set to 200 with no option to override in MeiliSearch::Rails::ClassMethods#ms_search.
Later in the method total hits is calculated by total_hits = json['hits'].length. This is capped at 2

[2022-04-03 18:55] brunoocasali commented on #138
Hi @Antsiscool thanks for reporting this bug!

I'll be looking into it during this week, or if you want to, you can open a PR :)

[2022-04-03 18:55] #136 closed

[2022-04-07 16:30] BDav24 opened #140 "Is it possible to deactivate Meilisearch on certain conditions?"
**Description**
I'd like to be able to deactivate all requests to Meilisearch instance on a given condition.
For example to run tests, or to activate it on certain environments.

**Basic example**
I tried `meilisearch if: ->(_) { false }` but it sends a DELETE request.

And if I don't configure the service, I get `Please configure Meilisearch. Set MeiliSearch::Rails.configuration = {meilisearch_ho

[2022-04-07 18:35] brunoocasali commented on #140
Hi @BDav24 thanks for your comment!

Do you mean, just enabling it but still having the ability to mock/stub the calls to `MeiliSearch::Rails` (without the real HTTP request), or literally enable/disable the service given a condition?

And do you see this configuration being used at the most during the app initialization or somewhere else in the code like `MeiliSearch::Rails.deactivate!`?

[2022-04-07 18:59] BDav24 commented on #140
Hi @brunoocasali

For my initial need I'd say both could work, so either one is fine.

`MeiliSearch::Rails.deactivate!` would work too, and would be more versatile (adding it to initial config should not be much if `deactivate!` is implemented anyway).

[2022-04-07 19:39] #135 closed

[2022-04-07 19:52] brunoocasali commented on #140
Fantastic, I just wanted some options. Do you have any plans to submit a PR, it will be appreciated! 🥇
We are entering a new release cycle, and the time will be short for me to work on this improvement.

[2022-04-10 22:21] coder2000 opened #142 "Per environment configuration as global option instead of per model"
It would be nice if the `per_environment` configuration option could be set globally instead of on each model that uses meilisearch.

[2022-04-11 08:33] BDav24 commented on #140
I didn't find an easy way to do that in the code.

It works on my side with:
[code]

[2022-04-11 14:40] brunoocasali commented on #142
Yeah! That's could be a really good improvement, totally agree with it!

If you have some time, go ahead and send us a PR! It will be appreciated! ❤️

[2022-04-11 19:57] brunoocasali opened #146 "Add support to the typo tolerance customization"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/190
- specification: https://github.com/meilisearch/specifications/pull/117

----

[2022-04-13 20:19] excid3 commented on #142
Great idea @coder2000. 👍

[2022-04-29 01:08] mengqing opened #147 "Dynamic primary_key not working when searching?"
**Description**
When using dynamic primary_key method, instead of using the value of that method, it tries to use the name of that primary_key

**Expected behavior**
[code]
[code]

**Current behavior**
[code]

**Screenshots or Logs**
If applicable, add screenshots or logs to help explain your problem.

**Environment (please complete the following information):**
- OS: OSX
- DB: Postgres 14.2
- Mei

[2022-05-02 01:34] brunoocasali commented on #147
Hi @mengqing!

I was looking into the code and I found a similar use case in the specs: https://github.com/meilisearch/meilisearch-rails/blob/d44e2b9e1c78ba3d9c286494f4a4eb160adca8c6/spec/integration_spec.rb#L1325-L1334
and the setup:
https://github.com/meilisearch/meilisearch-rails/blob/d44e2b9e1c78ba3d9c286494f4a4eb160adca8c6/spec/integration_spec.rb#L211-L222

the setup used an `id: :ms_id` to

[2022-05-02 01:45] mengqing commented on #147
@brunoocasali I tried changing it to `id` and the issue is still happening.

That spec you highlighted used meilisearch ruby client to do the search, which I tried and it worked. But when I try to use the model class to do the search which it should return an array of records, failed

[2022-05-02 01:51] brunoocasali commented on #147
Oh yes, you're correct, I missed the `.client.` part :/

I will give a look at a bunch of the rails/ruby gems issues this week or the next, feel free to open a PR if you need it ASAP.
Thanks for using Meilisearch and for reporting this bug to us! ❤️

[2022-05-17 03:42] archonic opened #148 "Unsure how to set API keys with Docker Compose"
I've got an instance booting and I can get default API keys but I'm wondering how a front-end key is supposed to be stored when restarting (`docker-compose down` then `docker-compose up`) regenerates the keys. This is what I've added to docker-compose.yml:

[code]

I've been using Postman to get API keys after it boots then copying the "Default Search API Key" to my .env file. By the time I restar

[2022-05-19 12:18] oluademola commented on #148
Hello @archonic 👋

Although I am not a docker expert but wouldn't it be a better idea to use the docker-compose stop option? Using the docker-compose down command stops containers and removes containers, networks, and volumes in other words this somehow resets the environment. It is the expected behavior that Meilisearch generates new values for the Default Search API Key and Default Admin API Key

[2022-05-19 22:06] archonic commented on #148
The typical way to exit after `docker-compose up` is `ctrl+c`. There's a well known bug however where `ctrl+c` doesn't actually kill the containers and ports are still in use. `docker-compose down` consistently closes the containers. It doesn't remove volumes. Even `docker system prune` doesn't remove volumes. You'd have to run `docker volume rm <volume id>` or `docker system prune -a` to destroy

[2022-05-19 22:52] archonic commented on #148
I think I understand what's happening here. I have one .env being provided to all my containers. Once MeiliSearch boots, I get the key and add it to the .env file so my Rails container has the front-end key. Then because the .env file changed, Meilisearch's environment has changed, so it rolls the keys again and the cycle restarts. I feel like Sisyphus.

I'll separate Meilisearch's env file and re

[2022-05-24 06:13] oluademola commented on #148
Hi @archonic

Does separating the env file resolve this issue?

[2022-05-24 07:29] archonic commented on #148
Yes, it resolved it. Personally I wouldn't want the keys rolled when any environment variables change, even ones that aren't used by MeiliSearch, but I'll close the issue.

[2022-05-24 07:29] #148 closed

[2022-05-25 02:58] archonic commented on #148
I'm actually still having problems with keys being regenerated even when the container's env file has no changes. I'll investigate more and reopen if I find out what's going on.

[2022-06-02 11:20] curquiza commented on #138
Hello @Antsiscool sorry for the huge delay

This 200 fetch is currently expected to ensure we know the total number of matches, so know that total number of pages. Currently, there is no other way with Meilisearch (the core engine) to provide a "finite" pagination (e.g. being able to access another page other than the next one).

Here is some resources regarding this
- [a "guide" for pagination us

[2022-06-08 00:43] archonic commented on #65
FYI for anyone else, tenant tokens were introduced in v0.26.0 https://github.com/meilisearch/product/issues/51#issuecomment-948289010

[2022-06-08 01:08] archonic opened #152 "Support for tenant tokens"
**Description**
v0.26.0 introduced [tenant tokens](https://docs.meilisearch.com/learn/security/tenant_tokens.html#multitenancy-and-tenant-tokens) but it looks like there aren't any opinions on tenant tokens in this gem.

**Basic example**
Specifics of a meilisearch tenant token integration are going to depend on how tenancy is handled but it would be nice to see examples that support acts_as_tenan

[2022-06-08 20:29] brunoocasali commented on #147
Hi @mengqing can you give more information about your use case, like:

- Where your `"cat_#{primary_key}"` comes from?
- Are you using STI?
- This `ms_id` method must be an instance method?

With this information, I can keep working in your issue, thanks! :)

[2022-06-08 21:37] brunoocasali commented on #142
Hi, @coder2000. I made a PR #153 to implement. Feel free to test it locally and tell me if that solves your problem 😄

[2022-06-09 16:18] mdubus opened #155 "Update playground's `README`"
Currently, the playground's `README` looks like this: https://github.com/meilisearch/meilisearch-rails/blob/main/playground/README.md

We do have [a section](https://github.com/meilisearch/meilisearch-rails/blob/main/CONTRIBUTING.md#playground-) in the `CONTRIBUTING` to help us install it, but it is not sufficient enough to understand how it works and how to make it run.

We should consider adding

[2022-06-09 16:32] curquiza commented on #155
Hello @mdubus

What do you mean exactly? So that we can improve the README accordingly to your expectations

[2022-06-09 18:39] #142 closed

[2022-06-10 13:35] brunoocasali commented on #152
Hi @archonic, thanks for your issue!

Yes, currently there is no easy way to change the Meilisearch API key, used to query the resources internally. Because the data used to create the client comes from the configuration defined in the configuration side `MeiliSearch::Rails.configuration = {}`.

You are able to change this code at runtime but probably may have some problems with concurrency (not t

[2022-06-10 20:38] archonic commented on #152
I realized that the attribute I wanted to filter by was not a user provided param. So as long as my app doesn't expose a Meilisearch JWT, I figure it's ok to scope by filter on the Rails side instead of using tenant tokens to scope. Still, I'm wondering how the gem can accommodate tenant tokens - I'd like to eventually have a front-end instant search feature. Especially if Actix can render the sea

[2022-06-13 08:50] mdubus commented on #155
It may be my lack of knowledge of the rails environment, but here are the 2 main "problems" I encountered:
- By running `bundle exec rails webpacker:install` it asked me `Overwrite /Users/morgane/PROJECTS/INTEGRATION/meilisearch-rails/playground/babel.config.js?` and I didn't know what to do
- The `CONTRIBUTING.md` says:
[code]
But I don't know what this commands are for. I would have liked small

[2022-06-17 16:17] JasonBarnabe opened #158 "Document difference between the use of `attribute` and `searchable_attributes`"
The readme provides this example:

[code]

Later, it provides this example:

[code]

What is the difference between `attribute :title, :author` and `searchable_attributes [:title, :author, :publisher, :description]` (other than the additional attributes)? Are they equivalent? Does `attribute` additionally mark it as filterable/sortable?

Please document the answer.

[2022-06-17 16:58] JasonBarnabe opened #160 "Handling one-to-many in filterable attributes"
Assume a `Book` has many `Author`s, and I want to be able to search for `Book` by `Author` name.

Can I do this?

[code]

Or is there a better way to do it? (Please document)

[2022-06-17 19:10] JasonBarnabe opened #161 "How to update index configuration"
I defined an index with `meilisearch do`, indexed some documents, then realized I missed a filter attribute. I updated the `meilisearch do` block, and called `Model.reindex!`, but that does not seem to add the filter attribute. What do I need to do to update the index? Does this involve downtime for the index?

(Please document)

[2022-06-17 20:10] JasonBarnabe opened #162 "No filterableAttributes set even though it's in config"
[code]

[code]

[code]

`filterableAttributes` is empty.

[code]
Document's there. No mention of the filterable attribute, but maybe that's expected...

[code]
Returns the proper result.`

[code]

So either I'm not understanding how to use filters or there's something wrong.

[2022-06-18 14:02] uvera opened #163 "Sequel detection issue"
**Description**
Using `rodauth-rails` which is utilizing Sequel (with ActiveRecord connection) for executing queries I'm getting the issue where `meilisearch-rails` is detecting Sequel even if ActiveRecord is used primarily.

**Expected behavior**
`meilisearch-rails` should check if `::Sequel::Model` is defined

**Current behavior**
`meilisearch-rails` is not checking for '::Sequel::Model'

**Scre

[2022-06-20 22:18] archonic commented on #148
I've discovered that v0.27.0 will always roll the keys on every `docker-compose down/up` and v0.26.1 behaves as expected and doesn't roll the keys unless there's an environment change. This isn't the repository to discuss that but I figured I'd let anyone else know if they were trying to use docker compose.

[2022-06-21 11:58] #163 closed

[2022-06-21 14:03] oluademola commented on #148
Hello @archonic

I'm afraid I'm not able to reproduce this. I have tested with both versions with volume, and the keys remained the same after running `docker-compose down` and `docker-compose up`. They are not regenerated. In both versions, however, the keys were recreated without volume. It's also worth mentioning that with v0.27, your volume must be mounted in `/meili_ data `probably you are no

[2022-06-21 19:23] oluademola commented on #148
Hi @archonic

I am glad this resolved the problem for you. This behavior was introduced in v0.27, and it was mentioned in the breaking changes section of the release note. Perhaps this isn't obvious enough to users; we'd want to improve it, and we'd welcome your input.

Thank you 🙏

[2022-06-23 19:36] brunoocasali commented on #152
Sorry if I let you alone, we are in the release cycle and all of our efforts are to make all the integrations ready when the v0.28 comes out!

I like the block approach as well, I've implemented something like that to switch databases and it was the perfect solution, I think it will be the same here.

I like the idea of having the ability to provide a different token at search-time, I think both c

[2022-06-23 19:43] brunoocasali commented on #158
Hi @JasonBarnabe thanks for raising this issue!

Indeed the README is not that clear regarding the configuration, we will work on all of our READMEs soon with the help of the Docs team!

In the [final sentence here](https://github.com/meilisearch/meilisearch-rails#%EF%B8%8F-settings) we explain that all these settings are part of the [meilisearch configuration](https://docs.meilisearch.com/referen

[2022-06-23 19:44] brunoocasali commented on #158
CC: @guimachiavelli just mentioning you, to make you aware of some content we can improve in these READMEs :)

[2022-06-23 19:44] #158 closed

[2022-06-23 19:49] brunoocasali commented on #160
Yes you can do this @JasonBarnabe 😃

You may have to deal with N+1 when reindexing. If I remember correctly you'll need to run something like `Book.includes(:authors).reindex!` to prevent it.

[2022-06-23 19:49] #160 closed

[2022-06-23 19:54] JasonBarnabe commented on #158
@brunoocasali Thanks. So to be clear:

[code]
With above, only `title` and `author` are searchable.

[code]
With above, only `title` and `author` are searchable.

[code]
With above, only `title` is searchable.

[code]
With above, `title`, `author`, and any other attribute of my model are searchable.

Correct?

[2022-06-24 08:20] rolandasb opened #165 "Eager loading associations"
👋

It would be great if MeiliSearch would support eager loading associations to avoid N+1 queries when reindexing. For example, here's my usecase:

[code]

Simple scope overriding could work, for example:

[code]

Let me know if it's ok and I'll open a PR. Thanks!

[2022-06-24 15:05] JasonBarnabe commented on #162
Even simpler case, with:

[code]
I get the same behaviour:
[code]

[2022-06-24 19:23] brunoocasali commented on #165
Hi @rolandasb did you tried something like this:

[code]

[2022-06-25 05:20] rolandasb commented on #165
That definitely works, but it could become tedious to explicitly define associations in every `reindex!` call, especially when one model needs to use multiple associated attributes. Also, one could argue it's a part of meilisearch configuration, thus it should live inside a model.

[2022-06-27 06:47] oluademola commented on #162
Hello @JasonBarnabe

I think this is because the attribute used to filter hasn't been sent to Meilisearch, as indicated by your get document result. Could you include the account_id field as part of the attribute you're sending to Meilisearch and set the filterable attribute again?

[2022-06-27 12:54] brunoocasali commented on #165
I agree with this statement __"Also, one could argue it's a part of meilisearch configuration, thus it should live inside a model."__ but doing that we also have full control of the association loading.

But in any case, I think we definitely can add a scope as you suggested! But @rolandasb I currently do not have free time to work in this request, what do you think to contribute 😍 ?

[2022-06-27 13:48] JasonBarnabe commented on #162
It's possible that I'm missing some step when reconfiguring the index wrong, but there's no answer in #161 yet so I'd prefer to leave this open in case it's a separate issue.

Including it as an `attribute` doesn't seem to change anything.

[code]
[code]

[2022-06-28 10:48] mattsrobot opened #166 "Conditional Indexing Not Working?"
**Description**

So I'm probably doing something wrong (excuse me) but from reading the documentation we should be able to conditionally index documents based on some function returning a boolean.

An example, I am adding search to an 'Order' model with the following (abbreviated) meilisearch block. I have a conditional check for :should_index? which checks the plan of the Tennant to see if the pl

[2022-06-28 19:33] archonic commented on #152
I agree. The gem can't assume that someone would have to use a front-end implementation to use that feature. I'm especially looking forward to building a front-end federated tenant search feature.

[2022-06-29 20:34] oluademola commented on #162
Hi @JasonBarnabe

Do you also have similar issue when sortableAttributes and searchableAttributes are set? Could you try configuring your index_uid [in this manner](https://github.com/meilisearch/meilisearch-rails#custom-index_uid-)? Probably the index is not deleted correctly.

[2022-06-29 22:28] JasonBarnabe commented on #162
Yes, if I change `index_uid` and call `customer.ms_index!`, then I see the proper settings when calling `Customer.index.get_settings` and the search works.

Playing with it a bit more, I find that if I already have an index, the index does not get properly regenerated from `rails console` with this procedure:

[code]

**However**, if I close the rails console after deleting the index, and start a

[2022-06-30 14:30] oluademola commented on #162
Hi @JasonBarnabe

Thank you for your confirmation and the additional details.

We did a test from our end, and I can confirm the `Customer.index.delete` is the correct way to delete. However, please keep in mind that the `indexDeletion` task is an [asynchronous operation](https://docs.meilisearch.com/learn/advanced/asynchronous_operations.html#which-operations-are-async) which means that this requ

[2022-06-30 14:35] JasonBarnabe commented on #162
My index in this test has only 1 record; I don't expect deletion to take very long at all. Nonetheless, I ran a test where I waited a few minutes between `Customer.index.delete` and `customer.ms_index!` (without closing and restarting the console), and it still shows the behaviour where the index is not properly generated.

[2022-06-30 14:39] oluademola commented on #162
Hey @JasonBarnabe

Thank you for the feedback. Can you provide the details of your `indexDeletion` task?

[2022-06-30 14:43] JasonBarnabe commented on #162
Not sure exactly what details you're looking for...

[code]
[code]

[2022-06-30 14:58] oluademola commented on #162
Hey @JasonBarnabe,

I needed to check on the deletion task's progress. The deletion task is still `enqueued`, as evidenced by the result above and thus you'd need to wait for the status to change to `succeeded` before you would observe the desired result. I think you should have a look at the [operations that are asynchronous in Meilisearch](https://docs.meilisearch.com/learn/advanced/asynchronous

[2022-06-30 15:19] JasonBarnabe commented on #162
After I call `Customer.index.delete`, that line is returned immediately. If it's asynchronous, then that result will always say "enqueued", but it still can be processed nearly instantaneously.  I can then do this to check if it's really gone or if the task is still pending:

[code]
There is never any further indication from the meilisearch process's output about when the deletion is completed. An

[2022-06-30 15:43] JasonBarnabe commented on #162
I put a debug statement in `#ms_ensure_init`. I can see that from a fresh console, `@ms_indexes` is empty, so the method executes all the way to the bottom. I run `Customer.index.delete` and then when I run `customer.ms_index!`, `@ms_indexes` has a value so does a quick return at `return @ms_indexes[settings] if @ms_indexes[settings]`. So if the rest of the method is not executing, presumably this

[2022-06-30 16:00] JasonBarnabe commented on #162
Calling `Customer.ms_clear_index!` instead of `Customer.index.delete` seems to be the correct thing to do after making a change. It will clear `@ms_indexes`. I suppose the operation is slightly different as this is "emptying" the index but leaving it in place, but it seems to work anyway because `#ms_ensure_init` has logic to notice changes between local definition and meilisearch process definiti

[2022-06-30 16:11] JasonBarnabe commented on #161
This was because

1. My defined attributes did not include the attribute I added to `filterable_attributes`.
2. Confusion on how to reindex (see #162)

Calling `Model.reindex!` after a change seems to work fine.

[2022-06-30 16:11] #161 closed

[2022-06-30 16:16] JasonBarnabe opened #168 "Error or warning when trying to use undefined attributes"
Per information in #158

If you define a list of `attribute`s, you need to include anything you use in `searchable_attributes`, `filterable_attributes`, etc. for them to work as such. In other words, if you do this:

[code]
Then `last_name` is not actually searchable because it's not in your list of attributes. It would make for easier debugging if such a configuration raised an error, or at least

[2022-06-30 18:13] JasonBarnabe opened #169 "index_uid based on attribute of model"
I'm trying out meilisearch with a model that has tens of millions of records. After indexing one million records, searching is still fast, but indexing is starting to slow down (around 2 seconds to index a single record). I'm concerned this is going to be linear or worse when I go to tens of millions.

The nature of my data is that there are tens of millions of "customers" across a few thousand "a

[2022-06-30 20:26] JasonBarnabe commented on #169
With ~13 million documents in my index, indexing a single record takes 26 seconds. I'm aware of auto-batching making this less of a problem, but it's still a long time to wait for the update.

[2022-07-04 14:08] oluademola commented on #162
Hello @JasonBarnabe

Thank you for the additional information. We will take a closer look at this one. Many thanks 🙏

[2022-07-05 11:50] oluademola commented on #169
Hi @JasonBarnabe

That is plausible. In addition to enabling auto-batching, I encourage you to also follow the performance optimization suggestions in the [dedicated documentation](https://docs.meilisearch.com/learn/advanced/indexation.html#improving-indexation-performance) to improve the indexation speed.

Hope this helps.

[2022-07-08 15:30] oluademola commented on #169
Hi @mattsrobot.

There isn't a setting for auto-batching that is particular to rails. The only configuration required for this functionality is the CLI flag `--enable-auto-batching` upon launch 🙂

[2022-07-14 07:19] mattsrobot opened #172 "MeiliSearch::TimeoutError · The request was not processed in the expected time. execution expired"
**Description**
When creating records within the Rails app connected to a Meilisearch instance that is not responding correctly, transactions fail.

I have configured a Rails app with a misconfigured Meilisearch instance that's not responding.

I have specified raise_on_failure to be false:

[code]

**Expected behavior**
When configured with raise_on_failure: false, I expect Transactions not to th

[2022-07-14 10:27] oluademola commented on #162
Hi @mattsrobot

The root cause of the initial issue is that the index deletion command in rails appears not to be working correctly. When the index_uid was changed, the filterableAttributes settings were updated successfully.

That said, can you confirm the version of the ruby/rails package you're using? There is a great chance that you are using Meilisearch v0.28 with a package that is older. You

[2022-07-14 12:38] brunoocasali commented on #172
Hi, @mattsrobot. Thanks for reporting this issue. I'll look at it soon!

Thanks for using Meilisearch!

[2022-07-14 19:55] #165 closed

[2022-07-14 20:57] brunoocasali commented on #172
Hi, @mattsrobot can you try out this PR #174?

I realized that only `ApiError`'s were caught in the `SafeIndex` validations, so I've added the Timeout as well.

[2022-07-15 15:15] brunoocasali commented on #172
@mattsrobot can you give me the full stack trace from this last message? Because it seems to be outside of the `SafeIndex`.

[2022-07-19 06:36] mengqing commented on #147
Hi @brunoocasali, I'm using the example in the README, https://github.com/meilisearch/meilisearch-rails#share-a-single-index, and it does not work.

[code]

And I'm getting the following error

[code]

[2022-07-19 18:02] brunoocasali commented on #172
That's cool! thanks for your quick interaction 🤘

[2022-07-20 10:56] #172 closed

[2022-07-22 20:23] brunoocasali opened #175 "Ensure `mongodb` is correctly supported"
This gem has basically no `MongoId` test cases. We need to add tests and guarantee mongo is being correctly handled.

### about reported bugs:

- https://github.com/meilisearch/meilisearch-rails/issues/251
- https://github.com/meilisearch/meilisearch-rails/issues/250

### about tests:

We could start thinking of a way to reuse the same use cases between multiple integrations.

eg:

- `context 'whe

[2022-07-22 20:25] brunoocasali commented on #175
I assume this is not a `good first issue` because it could be quite complex, but I would like to have some community help here if we start small ✋.

[2022-07-22 20:50] brunoocasali commented on #147
Hi @mengqing, from my perspective is fixed now, but can you try this branch https://github.com/meilisearch/meilisearch-rails/pull/176?

[2022-07-23 16:35] brunoocasali commented on #166
Hi @mattsrobot!

Sorry if I left you alone, but the v0.28 release cycle was crazy!!

I'll dig into your issue in the next weeks, I'm afraid this is happening because of the combination of continional index + async processing, maybe the condition just works for the sync operations.

Anyway, I'll dig into that soon I'll let you know!

[2022-07-25 01:24] brunoocasali commented on #140
Hi, @BDav24 sorry for the delay...

I had a hard time figuring out how to handle things when a meilisearch is inactive, but my best shot was implementing a NullObject pattern when the instance is inactive.

If you have time, can you try this https://github.com/meilisearch/meilisearch-rails/pull/177 locally?

The API is simple:

[code]

[2022-07-26 13:19] brunoocasali commented on #140
And I forgot one, you can use:

[code]

[2022-07-27 14:26] #147 closed

[2022-07-29 10:20] alcanari opened #178 "Create index in model - without adding new documents right away"
Hi,

Hope you're doing well!

On the rails doc, it says that to create my index, I should define it in the model:

So after each new creation, the document is also added to Meilisearch. But looking at the Indexation and performance documentation, I understand that this is not an ideal solution?

I'm having important issues of performance on my application regarding indexing - I can receive daily 5

[2022-08-02 15:51] oluademola commented on #178
Hi @alcanari

By default, the document addition request is processed one by one. You could enable the auto-batching feature to speed up the indexing process and mitigate the performance problem. When this feature is enabled, if documents are still sent one by one, the auto-batching feature will batch them automatically before indexing them. This configuration is only done at the instance level, an

[2022-08-05 17:48] BDav24 commented on #140
Hi @brunoocasali, thanks for the heads up, I'll try that!

[2022-08-05 17:48] #140 closed

[2022-08-11 22:23] brunoocasali commented on #140
Hi @BDav24, I'm waiting for review in that branch, and recently I pushed some changes, I realized that the code was error-prone to multi-threaded environments, but that should be fixed now.

If you ran that code in production or tested it locally, let me know if that was what you expected!

Thanks!

[2022-08-11 22:38] brunoocasali commented on #169
Hi @JasonBarnabe, I hope after enabling the auto-batching improved your benchmarks!

I'll close this issue because I assume it does not directly relate to this SDK 😃. About your suggestion to make `index_uid` dynamic, it could be implemented, but this is not something I think could be worth other use cases.

If we see more requests for this feature in the future, we can work on that (or accept PRs

[2022-08-11 22:38] #169 closed

[2022-08-12 20:09] brunoocasali commented on #166
Hi @mattsrobot sorry for the delay!

Can you try this branch? https://github.com/meilisearch/meilisearch-rails/pull/182

[2022-08-13 14:21] mech opened #183 "Pagination with hits_per_page to limit per page but got error"
I am trying to limit the pagination using hits_per_page with Kaminari:

[code]

But was given this error:

[code]

Removing the `hits_per_page` and I got back the first 20 records of the first page.

I even replace it with limit, but no luck:

[code]

Is there any special options we are not aware of? Or is pagination not working and need to wait for v0.29

- OS: macOS 12.5
- Meilisearch server ver

[2022-08-17 15:06] brunoocasali commented on #183
Hi @mech I found what happened, I'll provide a fix soon!

[2022-08-17 16:59] brunoocasali commented on #183
@mech I created a branch with the fix, I need to have my PR approved to release a new version.

So while I wait for the approval, you have some options:

- You can reference this branch directly in your Gemfile
- You can change from `hits_per_page` to `hitsPerPage`

Thanks for using Meilisearch ❤️

[2022-08-18 02:14] mech commented on #183
Wow tks, hitsPerPage does work. I will use this temporarily.

[2022-08-18 15:14] brunoocasali commented on #183
It will be released soon as 0.7.2!

[2022-08-19 10:45] mech commented on #183
I am puzzle, when I do a search, it appear it is querying all **200** records no matter which page I am on.

Doing `Candidate.ms_search("", page: 2, hitsPerPage: 3)` will result in such SQL:

[code]

Is this normal?

[2022-08-19 11:11] brunoocasali commented on #183
Yes, it is normal because Meilisearch does not provide a way to know the total hits yet.
@curquiza explained this here: https://github.com/meilisearch/meilisearch-rails/issues/138#issuecomment-1144747998

It is something we plan to improve in the future, in fact, we already have a prototype for this https://github.com/meilisearch/meilisearch/discussions/2635

[2022-08-19 13:05] mech commented on #183
Tks for clarification, will play with the new prototype 👍

[2022-09-07 13:00] #166 closed

[2022-09-08 12:47] mech opened #187 "Allow model saving to pass even if MeiliSearch instance is offline"
Hi, I have a use-case where I want my model to still be able to perform basic saving to database even if MeiliSearch instance is not started or found.

I don't think setting the `raise_on_failure` to false is the correct approach if I understand it correctly.

Specifically I am hitting this exception whenever I want to save my ActiveRecord model.

[code]

I understand that this is due to server no

[2022-09-11 08:21] mech opened #188 "Multiple hits of the same primary key"
I am using default ActiveRecord `id` as primary key (which I did not do any additional configuration) and I supposed MeiliSearch will use `id` to act as the key also. But somehow my result will show multiple hits of the same `id`.

<img width="732" alt="ol2sy_16_18_59" src="https://user-images.githubusercontent.com/5850/189518290-a0bab3ee-8066-479f-8a43-a2aacaaaeee3.png">

I am wondering if this i

[2022-09-12 11:26] jeremylynch opened #189 "Disable typo tolerance on attributes - disableOnAttributes"
Previously we were using `disableTypoToleranceOnAttributes` in Algolia. I am aware that typo tolerance can be disabled as per the [docs](https://docs.meilisearch.com/learn/configuration/typo_tolerance.html#configuring-typo-tolerance), however this is not covered in this library.

How can we use `disableOnAttributes` in meilisearch-rails?

[2022-09-15 07:01] oluademola commented on #189
Hello @jeremylynch

What version of the rails package are you using? There is a great chance you might be using an older package that doesn't this feature.

[2022-09-17 06:59] jeremylynch commented on #189
We are using 0.7.2, the latest available version as of 17th September

[2022-09-19 07:08] oluademola commented on #188
Hello @mech. Meilisearch should indeed automatically look for an attribute containing the string `id `in your document field and set it as the index's primary key. The value of the id should be unique, and your case is a bit strange. Could you show me what meilisearch returns in JSON? Could you also set the primary key [explicitly](https://github.com/meilisearch/meilisearch-rails#custom-primary-ke

[2022-09-21 02:02] mech commented on #188
Unfortunately I clear my data and have since unable to replicate this issues. I believe it is down to my seed re-executing repeatedly.

[2022-09-21 02:02] #188 closed

[2022-09-21 09:47] oluademola commented on #189
Hello @jeremylynch,

Sorry for the inconvenience. You are right and there is an existing issue about the topic [here](https://github.com/meilisearch/meilisearch-rails/issues/146). We hope to add support for the typo tolerance settings very soon.

Hope this helps. Thank you very much.

[2022-09-22 05:09] jeremylynch opened #190 "Add ability to specify meilisearch_host / api_key per model"
It would be great if we could use a different meilisearch_host / api_key in different models, rather than defining this in an initializer for all models. Is this currently possible?

[2022-09-22 07:42] brunoocasali commented on #190
Hi @jeremylynch!

Unfortunately, this is not possible I would like to understand better your intentions with this kind of configuration. Can you give some more context here? Thanks!

[2022-09-22 08:11] jeremylynch commented on #190
We are running into performance issues with very long tasks lists. Ideally, we would distribute meilisearch across multiple instances with a shared index, but this is not possible. An alternative for us, is to use different servers for different models so we can share the load that way - but it sounds like this isn't possible?

[2022-09-22 09:33] gmourier commented on #190
Hi @jeremylynch!

If I understand correctly, you would like to get around the indexing speed problems by having several servers, one per index (model), so as not to share the task queue for all your models (_the task queue is shared for all indexes_)? Let me know if I'm wrong!

If this is the case, we have some tips to share with you that you could try to see if it solves this problem.

- Enable a

[2022-09-23 13:14] brunoocasali commented on #187
Hi @mech, I'm sorry but I couldn't investigate this issue yet.

I did not forget about it, I just need some time to make it a priority. Hope you will understand!

Take care,

[2022-09-23 13:56] mech commented on #187
Wow no worry, everyone has their time constraint and priority. Cheer 😀 and happy weekend!

[2022-09-28 15:10] brunoocasali commented on #189
I think I can close this issue since this is planned in the https://github.com/meilisearch/meilisearch-rails/issues/146 :)

[2022-09-28 15:10] #189 closed

[2022-09-28 15:24] brunoocasali opened #193 "Improve the overall of perceived performance in the search requests"
**Description**
Based on the discussion of https://github.com/meilisearch/meilisearch-rails/issues/120

Our internal search handling is:

- make search request to meili asking for all the fields
- mapping only the "primary fields" or just the "id" if there is no extra config.
- make a SELECT in the database to load the AR records.

If we only require the needed fields, we will be able to reduce th

[2022-10-06 09:31] AdoPi opened #196 "Changing configuration does not affect current connection"
Hello :wave:
Firstly, we use this configuration :
`MeiliSearch::Rails.configuration = {meilisearch_host: 'http://localhost:7700', meilisearch_api_key: "MasterKeySampl" }`

Then, after the first successful connection, we want  to simulate a connection lost error.
We are trying to update Meillisearch::Rails.configuration
`MeiliSearch::Rails.configuration = {meilisearch_host: 'error_host'}`

Client o

[2022-10-06 14:32] AdoPi commented on #196
After some investigations, we found that each ActiveRecord model has its own instance of SafeIndex and each SafeIndex has its own HTTP client, am I right?

This is why when we update MeiliSearch::Rails.configuration it does not affect the existing Index but only the new ones.

I'm not sure if it's a bug or a feature.

[2022-10-07 20:27] smarquezs opened #198 "Try to create the index when a new document is indexed."
Playing with the `/tasks` API I found some failed ones.

[code]

Digging in the code base I found every time the `ms_reindex!` is called, this method is calling another method called `ms_ensure_init`, as you can see [here](https://github.com/meilisearch/meilisearch-rails/blob/d40c97ef2ef740f30529fa4817a509119c5643d2/lib/meilisearch-rails.rb#L507), basically every time a new document is indexed it

[2022-10-10 12:47] brunoocasali commented on #198
Hi @smarquezs thanks for opening this issue!

The current implementation tries to create a new index only if the memoized value are not saved in memory yet. So if you reuse the same client, you'll not have such behavior.

After v0.29 we introduced a way to flush old tasks so, it will not be a problem in terms of disk neither performance.

I'm not aware about how is your production environment but

[2022-10-10 12:53] brunoocasali commented on #196
Hi @AdoPi!

Yes indeed! This is the current behavior. Can you tell me more about why you want to change the configuration on the fly?

The current system was implemented to avoid multiple calls to expensive internal routines (network-wise or memory-wise).
So I'm not sure if the best way is to implement a method to update the configuration + reload everything or understand when the configuration ch

[2022-10-11 08:32] AdoPi commented on #196
Sure, thanks for your reply :)
We are using a container which is accessible by contacting http://meilisearch:7700 but we wanted to simulate that this container could be unreachable sometimes for some reason and be sure our app would be tolerant to this.

Our simple idea was to change the configuration on the fly ( during the test stage ) to something like http://errorhost:7700, it was easier for u

[2022-10-11 10:48] brunoocasali opened #199 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-11 19:59] haseeb-xd commented on #199
I want to work on this issue

[2022-10-12 16:06] brunoocasali commented on #199
Hi @haseeb-xd because I didn't realize this when I generated the issues about this change (we do that automatically).
The rails repo was the one that motivated the other SDK issues, so there is no need to submit any work related to that here because PR #197 will fix that soon as it gets merged.

We have plenty of other issues if you're still interested in contributing with us ;)

Thanks a lot for

[2022-10-12 16:06] #199 closed

[2022-10-16 00:51] k2director opened #201 "Can't get Pagy to work -- MeiliSearch::Rails::BadConfiguration (Unknown pagination backend)"
**Description**
First time trying to get Meilisearch working with my app, which uses Pagy, but while Meilisearch is working from the Rails console, I can't get any page that uses Pagy to actually load without the BadConfiguration error.

**Expected behavior**
An index page using Pagy should load and display properly! ;-)

**Current behavior**
Crash with "Unknown pagination backend" error....

[NoM

[2022-10-17 17:30] brunoocasali commented on #201
Hi @k2director, thanks for raising this issue! We have other open issues regarding pagy documentation in this repository.

I think you don't need the `pagination_backend: :pagy` extra at all like mentioned here:  https://github.com/meilisearch/meilisearch-rails/issues/126#issuecomment-1067644814

Can you try that?

[2022-10-17 22:03] k2director commented on #201
Bruno, thanks much for the quick reply. And for the solution: you were right, I just needed to omit that line, and it all started working.
I'm happy to volunteer to put this in the documentation, if you guys are just waiting for someone to volunteer to update that. Otherwise, I'll close the issue.

[2022-10-18 07:38] Jean-MarieB opened #202 "Param Synchronous seems to not work"
Hi everyone,

**Description**
This issue is about synchronous feature, that can be set in `meilisearch` options in Model or in ms_index! parameters :

In model :

[code]

With class_method:

[code]

I want to use meilisearch synchronously for my test.

**Expected behavior**
I'm trying to test my search methods for my application. For example, if I'm searching for users named 'John' I test if 'John

[2022-10-18 13:21] brunoocasali commented on #201
Hi @k2director, good to know it turns out right for you!

I'll be so happy if you could do that, you will also receive a gift from Meilisearch :D

We have two open issues about this subject. Take a look at those:
https://github.com/meilisearch/meilisearch-rails/issues/131
https://github.com/meilisearch/meilisearch-rails/issues/126

Any doubt, I'll be here to help you along the way!

I'll close thi

[2022-10-18 13:21] #201 closed

[2022-10-18 21:20] k2director opened #203 "Can't get Meilisearch to sort results at all....but I have set my sortable_attributes..."
Hello! I first noticed this once I got Meilisearch working with the Pagy gem (latest Meilsearch and rails gem versions)....my results displayed on the Index page were not being sorted by "Created_at" date). In trying to investigate that, I fell back to the Rails console to try to get it working there, but still no luck.

1) I've set my sortable attributes in the Meilisearch block of my Source mode

[2022-10-18 21:23] k2director commented on #201
I will take a look and figure out my approach, thanks much!

[2022-10-21 18:45] k2director commented on #203
Okay, I decided to start from scratch again...uninstalled Meilisearch, removed it from my project, then reinstalled everything again and it worked, so I'm not sure what was going on but I'm happy to be moving forward again. Closing this!

[2022-10-21 18:45] #203 closed

[2022-11-15 08:21] sandonemaki opened #211 "How can I use Meiliserch with vagrant? How do I set up the url?"
Hello.
I have set up a VirtualBox in a virtual environment on my Mac and am using Vagrant.
I set up Meiliserch's URL while looking at [sample](https://github.com/meilisearch/meilisearch-rails#configuration-), but when I do User.search("Yamada") in rails c Meiliserch seems to be going to check the local host address of the mac.
How can I use Meiliserch with vagrant?

[code]
error:
/home/vagrant/Mei

[2022-11-15 12:11] sandonemaki commented on #211
Hello.
Resolved.
It was due to the fact that the Meilisearch engine was not started.

[2022-11-15 12:11] #211 closed

[2022-11-16 13:52] sandonemaki opened #213 "Can't do AND search in Rails"
For example, if I want to search for Alice and Bob in the first_name column, if I do `User.search("Alice", "Bob")`, it searches only for `Alice` and not for `Bob`.
 How can I use Rails to do an and search and or search in the same record, or an and search and or search with another record?

Currently, the only way to do this is to make an array of the searched terms, receive the values as params o

[2022-11-29 16:27] #155 closed